$primary-color: #0d0d0d;
$secondary-color: #eb5939;
$font-family: "avant garde", sans-serif;
$font-color: #b7ab98;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.25s ease-in-out;
}

@function set-text-color($color) {
  @if lightness($color) > 40% {
    @return #000;
  } @else {
    @return #fff;
  }
}
