.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: auto;
  padding: 1rem;

  h2,
  p {
    width: 60%;
    font-size: 0.8rem;
    line-height: 110%;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      width: 80%;
      font-size: 1rem;
      letter-spacing: 0.2rem;
    }

    @media (max-width: 480px) {
      width: 90%;
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 700;
    color: $secondary-color;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  p {
    color: $font-color;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.03rem;

    @media (max-width: 768px) {
      font-size: 3rem;
    }

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }
}

.mail-to {
  width: 60%;
  line-height: 110%;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    width: 80%;
    font-size: 1rem;
    letter-spacing: 0.4rem;
  }

  @media (max-width: 480px) {
    width: 90%;
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
  }
}
