* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-family: "avant garde", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 1000px;
  background-color: #000000;
  right: 2.5rem;
  top: 2.5rem;
  height: 3rem;
  width: 5rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.772);
}
.menu-btn::after {
  content: "";
  position: absolute;
  height: 115%;
  width: 110%;
  border-radius: 1000px;
  z-index: -1;
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.menu-btn:focus, .menu-btn:hover {
  z-index: -1;
}

.form-container {
  display: flex;
  background-color: #000000;
  font-size: clamp(0.7rem, 2vw, 1rem);
  z-index: -1;
  max-width: 100%;
  width: 60%;
}
.form-container label {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "avant garde", sans-serif;
  line-height: 110%;
  letter-spacing: 0.4rem;
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.form-container input[type=name],
.form-container input[type=email],
.form-container textarea {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 1000px;
  background: none;
  color: white;
}
.form-container button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #000000;
  font-family: "avant garde", sans-serif;
  font-weight: 700;
  border-radius: 1000px;
  cursor: pointer;
  height: 3rem;
  width: 5rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.772);
}
.form-container button::after {
  content: "";
  position: absolute;
  height: 115%;
  width: 110%;
  border-radius: 1000px;
  z-index: -1;
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form-container button:focus, .form-container button:hover {
  z-index: -1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #000000;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.25s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2em;
  text-transform: uppercase;
  padding: 2.5rem;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}
.nav .menu-nav__link:hover {
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transition: all 0.25s ease-in-out;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  padding: 1rem;
}
.about h2,
.about p {
  line-height: 110%;
  margin-bottom: 2rem;
  width: 70%;
  max-width: 1800px;
}
.about h2 {
  font-size: clamp(0.7rem, 2vw, 1rem);
  font-weight: 700;
  letter-spacing: 0.4rem;
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about p {
  font-size: clamp(1.3rem, 4vw, 5rem);
  font-weight: 700;
  letter-spacing: -0.03rem;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
}
.home .hero-border {
  text-align: center;
  background-color: #000000;
}
.home h1,
.home h2 {
  line-height: 110%;
  margin-bottom: 2rem;
  max-width: 1800px;
  text-transform: uppercase;
}
.home h1 {
  font-size: clamp(0.7rem, 2vw, 1rem);
  font-weight: 700;
  letter-spacing: 0.4rem;
  position: relative;
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home h2 {
  font-size: clamp(3rem, 4vw, 8rem);
  font-weight: 700;
  letter-spacing: -0.03rem;
}
.home .highlight {
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home .blinking-dot {
  font-size: clamp(3rem, 4vw, 8rem);
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
}
.contact h2,
.contact h3,
.contact p {
  line-height: 110%;
  margin-bottom: 2rem;
  font-weight: 700;
  width: 60%;
  max-width: 1800px;
}
.contact h2 {
  font-size: clamp(0.7rem, 2vw, 1rem);
  letter-spacing: 0.4rem;
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contact h3 {
  font-size: clamp(0.7rem, 1.5vw, 5rem);
  letter-spacing: 0.4rem;
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contact p {
  font-size: clamp(1.3rem, 4vw, 5rem);
  letter-spacing: -0.03rem;
}

.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  padding: 1rem;
}
.skills h2,
.skills p {
  line-height: 110%;
  margin-bottom: 2rem;
  width: 70%;
  max-width: 1800px;
}
.skills h2 {
  font-size: clamp(0.7rem, 2vw, 1rem);
  font-weight: 700;
  letter-spacing: 0.4rem;
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.skills p {
  font-size: clamp(1.3rem, 4vw, 5rem);
  font-weight: 700;
  letter-spacing: -0.03rem;
}
.skills .highlight {
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  height: 100vh;
  font-family: "avant garde", sans-serif;
  color: rgba(255, 255, 255, 0.8549019608);
  background-color: #000000;
}

a {
  color: rgba(255, 255, 255, 0.8549019608);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
}
main .social-icons a {
  padding: 0.8em;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -5px -5px 12px 0 rgba(255, 255, 255, 0.045);
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}
main .social-icons a:focus, main .social-icons a:hover {
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=main.css.map */