@import "base/variables";
@import "base/mixins";

@import "base/reset";
@import "base/typography";
@import "components/buttons";

@import "components/menu";

@import "pages/about";
@import "pages/home";
@import "pages/contact";
@import "pages/skills";

body {
  height: 100vh;
  font-family: $font-family;
  color: $font-color;
  background-color: $primary-color;
}

a {
  color: $font-color;
  text-decoration: none;
}

header {
  @include fixed-position($fixed-position-z-index);
  width: 100%;
  padding: $header-padding;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    @include fixed-position;
    @include flex-column-center;
    bottom: 1.5em;
    left: 1.5em;

    a {
      padding: $social-icon-padding;
      box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -5px -5px 12px 0 rgba(255, 255, 255, 0.045);
      border-radius: 50px;

      @include transition-ease;

      &:focus,
      &:hover {
        @include color-rainbow;
      }
    }
  }
}
