@import "base/variables";
@import "base/mixins";

@import "base/reset";
@import "base/typography";
@import "components/buttons";

@import "components/menu";

@import "pages/about";
@import "pages/home";
@import "pages/contact";
@import "pages/skills";

body {
  height: 100vh;
  font-family: $font-family;
  color: $font-color;
  background-color: $primary-color;
}

a {
  color: $font-color;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

header {
  @include fixed-position($fixed-position-z-index);
  width: 100%;
  padding: $header-padding;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    @include fixed-position;
    bottom: 1rem;
    left: 1rem;
    @include flex-column-center;

    a {
      padding: $social-icon-padding;
      @include transition-ease;
    }
  }
}
