.contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  padding: 1rem;

  h2,
  h3,
  p {
    line-height: $base-line-height;
    margin-bottom: $margin-bottom;
    font-weight: $base-font-weight;
    width: 60%;
    max-width: 1800px;
  }

  h2 {
    font-size: clamp(0.7rem, 2vw, 1rem);
    letter-spacing: $spacing-unit-large;
    @include color-rainbow;
  }

  h3 {
    font-size: clamp(0.7rem, 1.5vw, 5rem);
    letter-spacing: $spacing-unit-large;
    @include color-rainbow;
  }

  p {
    font-size: clamp(1.3rem, 4vw, 5rem);
    letter-spacing: $spacing-unit-small;
  }

  .mail-to {
    font-size: clamp(0.5rem, 4vw, 2rem);
    letter-spacing: $spacing-unit-small;
  }
}
