.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  padding: 1rem;

  h2,
  p {
    line-height: $base-line-height;
    margin-bottom: $margin-bottom;
    width: 70%;
    max-width: 1800px;
  }

  h2 {
    font-size: clamp(0.7rem, 2vw, 1rem);
    font-weight: $base-font-weight;
    letter-spacing: $spacing-unit-large;
  }

  p {
    font-size: clamp(1.3rem, 4vw, 5rem);
    font-weight: $base-font-weight;
    letter-spacing: $spacing-unit-small;
  }

  .highlight {
    color: $secondary-color;
  }
}
