.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  cursor: pointer;

  font-size: clamp(0.7rem, 3vw, 1rem);
  font-family: $font-family;
  font-weight: $base-font-weight;
  border: none;
  border-radius: 1000px;
  background-color: $primary-color;
  right: 2.5rem;
  top: 2.5rem;

  height: 3rem;
  width: 5rem;

  &::after {
    content: "";
    position: absolute;
    height: 115%;
    width: 110%;
    border-radius: 1000px;
    z-index: -1;
    @include color-rainbow-btn;
  }

  &:focus,
  &:hover {
    z-index: -1;
  }
}
