@mixin transition-ease {
  transition: all 0.25s ease-in-out;
}

@mixin fixed-position($z-index: 1) {
  position: fixed;
  z-index: $z-index;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}

@mixin color-rainbow {
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@mixin color-rainbow-btn {
  background: linear-gradient(to bottom right, #ff073a 0%, #007bff 100%);
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@mixin blinking-dot {
  font-size: clamp(3rem, 4vw, 8rem);
  animation: blink 2s infinite;

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
