@mixin transition-ease {
  transition: all 0.25s ease-in-out;
}

@mixin fixed-position($z-index: 1) {
  position: fixed;
  z-index: $z-index;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}

@mixin title-test {
  background: linear-gradient(
    to right,
    #ff073a 0%,
    #ff1493 20%,
    #ff33cc 40%,
    #007bff 70%,
    #6f00ff 100%
  );
  background-clip: text;
  color: transparent;
}
