// font family

$font-family: "avant garde", sans-serif;
$font-color: #ffffffda;

// font spacing
$spacing-unit-large: 0.4rem;
$spacing-unit-small: -0.03rem;
$margin-bottom: 2rem;

// font line heights
$base-line-height: 110%;
$base-font-weight: 700;
