$primary-color: #121212;
$secondary-color: (
  #ff073a 0%,
  /* Neon Red */ #ff1493 20%,
  /* Bright Neon Pink */ #ff33cc 40%,
  /* Intermediate Pink */ #007bff 70%,
  /* Electric Blue */ #6f00ff 100% /* Deep Purple */
);

$header-padding: 1rem;
$social-icon-padding: 0.8em;

$fixed-position-z-index: 2;
